title{
    color: blue;
}
h2{
    color: rgb(245, 229, 4); border-color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;font-style: inherit;
}
h1{
    color: blueviolet; font-style: oblique; font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url("WIN_20211205_16_51_14_Pro.jpg") ;
}